body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.formSiteUrl-container {
 /* width:50%;
  margin:10% auto;*/
}
.formSiteUrl-pesquisar {
  /*width:300px !important;*/
}
.ajax-loading {
	/*display:none;*/
}
.principal {
  position:relative;
  margin-top:10px;
}
.ajax-loading {
  position:absolute;
  display:none;
  width:64px;
  height:64px;
  top:50%;
  left:50%;
  margin-left:-32px;
  /*margin-top:-5px;*/
}
.resultados-total {
  display:none;
}
.resultados-numero {
  background-color:#5cb85c;;
}
.tabela-resultados {
  display:none;
}
.tabela-resultados-mensagem {
  display:none;
}
.tabela-resultados-mensagem-botao {
  margin-right:10px;
}
.modal-bg-info {
  padding:5px;
}
